Importamos las librerías necesarias

In [23]:
import pandas as pd
import os

Cargamos el archivo a analizar

In [24]:
df_area_codes = pd.read_csv('../../../data/raw/reference/Production_Crops_Livestock_E_AreaCodes.csv')

Realizamos una exploración inicial

In [25]:
print("Exploración inicial")
print("Primeras filas:")
print(df_area_codes.head())
print("\nInformación del dataset:")
print(df_area_codes.info())
print("\nValores nulos por columna:")
print(df_area_codes.isnull().sum())

Exploración inicial
Primeras filas:
   Area Code M49 Code         Area
0          2     '004  Afghanistan
1       5100     '002       Africa
2          3     '008      Albania
3          4     '012      Algeria
4       5200     '019     Americas

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Code  245 non-null    int64
 1   M49 Code   245 non-null    object
 2   Area       245 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.9+ KB
None

Valores nulos por columna:
Area Code    0
M49 Code     0
Area         0
dtype: int64

Verificamos duplicados

In [26]:
print("\nNúmero de duplicados:", df_area_codes.duplicated().sum())
df_area_codes = df_area_codes.drop_duplicates()

Número de duplicados: 0

Corregimos el formato de 'M49 Code'

In [27]:
df_area_codes['M49 Code'] = df_area_codes['M49 Code'].str.strip("'").str.strip()

Estandarizamos formatos de columnas categóricas

In [28]:
df_area_codes['Area'] = df_area_codes['Area'].str.strip().str.title()

Manejamos valores nulos en caso exista

In [29]:
df_area_codes = df_area_codes.dropna(subset=['Area Code', 'Area'])

Guardamos el dataset limpio

In [30]:
df_area_codes.to_csv('../../../data/processed/reference/area_codes_cleaned.csv', index=False)

Verificamos el resultado final

In [31]:
print("\nPrimeras filas del dataset limpio:")
print(df_area_codes.head())
print("\nInformación del dataset limpio:")
print(df_area_codes.info())

Primeras filas del dataset limpio:
   Area Code M49 Code         Area
0          2      004  Afghanistan
1       5100      002       Africa
2          3      008      Albania
3          4      012      Algeria
4       5200      019     Americas

Información del dataset limpio:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area Code  245 non-null    int64
 1   M49 Code   245 non-null    object
 2   Area       245 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.9+ KB
None